
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'SpaceGrotesk-Variable', sans-serif !important;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000;
  color: white;
}